<h1>Cocktail #<%= @cocktail.id %>. <%= @cocktail.name %></div>
  <% @cocktail.doses.each do |dose|  %>
    <p><%= dose.description %> <%= dose.ingredient.name %></p>
  <% end %>
  <%= link_to "Create new dose", new_cocktail_dose_path(@cocktail) %>

